html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.border{
    border: 1px solid #000;
}

.card {
    padding: 20px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% - 50px);
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}
.card-header{
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-bottom: 1px solid #f6f6f6;
    font-size: 14px;
    margin-bottom: 10px;
}
.table {
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    color: #666;
}
.table thead{
    background-color: #f2f2f2;
}
.table thead td{
    text-align: center;
}
.table td,.table th{
    border-width: 1px;
    border-style: solid;
    min-width: 60px;
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
    border-color: #e6e6e6;
}
.table td{
    overflow: hidden;
    word-break: break-all;
}
.table thead td.checkbox{
    width: 80px;
}
.table td.text-center{
    text-align: center;
}


.button {
    color: #FFF;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 30px;
    width: 80px;
    font-weight: 700;
    height: 30px;
    background: #000;
    vertical-align: middle;
    border: 1px solid #FFF;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(51, 51, 51);
}

.button:active {
    background-color: rgb(24, 23, 23);
}

.button.none{
    cursor: default;
    background-color: #ccc;
}

.inText{
    height: 18px;
    padding: 5px;
    width: 200px;
    border: 1px solid #000;
    vertical-align: middle;
}
.inputText{
    padding: 5px 10px;
    width: calc(100% - 20px);
    border: 1px solid #000;
    background-color: #fff;
}

.inputText:disabled{
    border: none;
}

.textCpass{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.textCpass input{
    width: 100%;
    height: 100%;
    padding: 5px;
    border:1px solid #e6e6e6;
    box-sizing: border-box;
}
.commMan{
    min-width: 700px; background-color:#fff; margin-bottom: 10px;
}
.commMan .name{
    padding-right:10px; padding-left:10px; min-width: 200px
}
.commMan input[type="text"],.commMan .className{
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff;
}
.commMan input[name="name"]{
    width: 170px;
}
.commMan input[name="price"]{
    width: 50px;
}
.commMan input[name="stock"]{
    width: 50px;
}

.commMan img.onedit:hover{
    cursor: pointer;
}
.fileImg{
    display: none;
}
.commMan textarea{
    resize:none;
    height: 36px; width: 90%;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fff;
}
.commMan .className:disabled,.commMan input:disabled,.commMan textarea:disabled{
    border: none;
}
.seckill input[type="datetime-local"],.seckill input[type="text"]
{
    box-sizing: border-box;
    font-size: 12px;
    padding:5px;
    border: 1px solid #000;
    background-color: #fff;
}
.seckill input[type="datetime-local"]
{
    width:210px;
}
.seckill input[name="num"],.seckill input[name="recom"]
{
    width: 40px;
}
.seckill input:disabled{
    border: none;
}